@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
:root{
    --primary-color: #4daf54;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(to right, #4daf54, #3d8000);
    font-family: "Poppins";
}
.card{
    margin: 120px auto;
    width: 320px;
    height: 400px;
    background: #272d48;
    padding: 20px;
    border-radius: 15px;
    color: white;
    position: relative;
}
.card_heart, .card_cart{
    font-size: 25px;
    position: absolute;
    left: 20px;
    top: 15px;
    cursor: pointer;
}
.card_cart{
    left: unset;
    right: 20px;
    cursor: pointer;
}

.card_img{
    width: 80%;
    margin-left: 15px;
    transition: 0.5s;
}

.card_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_title, .card_price{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: 0.5s;
}

.card_title{
    color: var(--primary-color);
}

.card_color, .card_size{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.card_size, .card_color{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.card_size span{
    padding: 1px 5px;
    background: #dadada;
    color: black;
    border-radius: 5px;
    margin: 0 2px;
}

.card_color span{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 5px;
}
.card_color--green{
    background: green;
}
.card_color--red{
    background: red;
}
.card_color--black{
    background: black;
}

.card_action button{
    background: var(--primary-color);
    border: none;
    outline: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 10px;
    transition: 0.25s;
    cursor: pointer;
}

.card_action button:hover{
    transform: scale(0.9);
}

.card:hover .card_img{
    transform: translateY(-90px) rotate(-20deg);
}
.card:hover .card_title{
    transform: translate(-26px, -50px);
}
.card:hover .card_price{
    transform: translate(-121px, -50px);
}

.card_size{
    margin-top: 165px;
}

.card_size, .card_color, .card_action{
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.card:hover .card_size,
.card:hover .card_color,
.card:hover .card_action{
    visibility: visible;
    opacity: 100;
    transition-delay: 0.4s;
}

.card:hover .card_size{
    margin-top: 5px;
}